@import "tailwindcss";

/* v4 방식의 플러그인 로드 */
@plugin "@tailwindcss/typography";

/* CKEditor 5 내부 고유 테두리선 투명하게 정돈 */
.ckeditor-custom-wrapper .ck.ck-editor__top .ck-link_selected,
.ckeditor-custom-wrapper .ck.ck-toolbar,
.ckeditor-custom-wrapper .ck.ck-content {
  border: none !important;
  background: transparent !important;
}
.ckeditor-custom-wrapper .ck-editor__editable_inline {
  min-height: 200px;
  max-height: 400px;
  color: oklch(0.38 0.07 259.56) !important;
}

/* CKEditor 5 편집 영역 최소 높이 지정 및 테두리 둥글게 최적화 */
.ck-editor__editable_inline {
    min-height: 500px;
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}
.ck-editor__top {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}
